@media screen and (min-width: 320px) and (max-width: 576px) {
    /* ------------------- Header ---------------- */
    header,main {
        padding: 20px;
    }
    nav {
        flex-direction: column;
    }
    .nav-right>ul{
        flex-direction: column;
    }
    .banner-img >img{
        width:100%;
    }
    /* ------------------- Main ---------------- */

     /* feature-team-container */
     .feature-team-container {
        flex-direction: column-reverse;
        gap: 10px;
     }
     .feature-team-content {
         padding-left: 2rem;
     }
     .feature-team-img>img {
        width: 20rem;
        height: 20rem;
    }
     .feature-team-img {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 5px;
    }
    .feature-team-content>h3{
        width: auto;
    }
    .feature-team-content>p{
        width: auto;
    }

    /* ------------------- Footer ---------------- */
}

@media screen and (min-width: 576px) and (max-width: 960px) {
    /* ------------------- Header ---------------- */
    header {
        padding: 50px;
    }
    nav {
        flex-direction: column;
        gap: 20px;
    }
    .banner-img >img{
        width:100%;
    }
    /* ------------------- Main ---------------- */
    
    /* feature-team-container */
    .feature-team-container {
       flex-direction: column-reverse;
       gap: 10px;
    }
    .feature-team-content {
        padding-left: 2rem;
    }
    /* ------------------- Footer ---------------- */
}
