/* font-style */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Work+Sans:wght@400;500;600;700&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
}


/* ------------------- Header ---------------- */
header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px 40px 240px;
}

/* ------------------- nav ---------------- */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-left>h1 {
    color: #131313;
    font-size: 2.8rem;
}

.nav-right>ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-right>ul>li {
    color: #424242;
    font-size: 18px;
}

/* ------------------- banner ---------------- */
.banner-content {
    max-width: 50rem;
    text-align: center;
}

.banner-content>h1 {
    color: #131313;
    font-size: 3rem;
    margin-top: 6.25rem;
    margin-bottom: 15px;
}

.banner-content>p {
    color: #727272;
    font-size: 1rem;
    line-height: 1.625rem;
    margin-bottom: 15px;
}

button {
    background-color: #FF900E;
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: 600px;
    width: 11.25rem;
    height: 4rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin-bottom: 4.375rem;
}

.banner-img>img {
    width: 60vw;
}

/* ------------------- Main ---------------- */
main {
    margin-top: 80px;
}


/* feature-team-container */
.feature-team-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6.25rem;
}

.feature-team-img>img {
    width: 15.625rem;
    height: 15.625rem;
}

.feature-team-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.625rem;
}

.feature-team-content {
    padding-left: 4.75rem;
}

.feature-team-content>h3 {
    width: 23.125rem;
    color: #727272;
    font-size: 2.8125rem;
    font-weight: 500;
}

.of_our {
    color: #131313;
    font-weight: 700;
}

.feature {
    color: #FF900E;
    font-weight: 700;
}

.feature-team-content>p {
    width: 33.5625rem;
    color: #727272;
    font-size: 16px;
    font-weight: 400px;
    line-height: 26px;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

/* ------------------- Footer ---------------- */