/* font-style */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Work+Sans:wght@400;500;600;700&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
}


/* ------------------- Header ---------------- */
header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px 40px 240px;
}

/* ------------------- nav ---------------- */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-left>h1 {
    color: #131313;
    font-size: 2.8rem;
}

.nav-right>ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-right>ul>li {
    color: #424242;
    font-size: 18px;
}

/* ------------------- banner ---------------- */
.banner-content {
    max-width: 50rem;
    text-align: center;
}

.banner-content>h1 {
    color: #131313;
    font-size: 3rem;
    margin-top: 6.25rem;
    margin-bottom: 15px;
}

.banner-content>p {
    color: #727272;
    font-size: 1rem;
    line-height: 1.625rem;
    margin-bottom: 15px;
}

button {
    background-color: #FF900E;
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: 600px;
    width: 11.25rem;
    height: 4rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin-bottom: 4.375rem;
}

.banner-img>img {
    width: 60vw;
}

/* ------------------- Main ---------------- */
main {
    margin-top: 80px;
}


/* feature-team-container */
.feature-team-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6.25rem;
}

.feature-team-img>img {
    width: 15.625rem;
    height: 15.625rem;
}

.feature-team-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.625rem;
}

.feature-team-content {
    padding-left: 4.75rem;
}

.feature-team-content>h3 {
    width: 23.125rem;
    color: #727272;
    font-size: 2.8125rem;
    font-weight: 500;
}

.of_our {
    color: #131313;
    font-weight: 700;
}

.features {
    color: #FF900E;
    font-weight: 700;
}

.feature-team-content>p {
    width: 33.5625rem;
    color: #727272;
    font-size: 16px;
    font-weight: 400px;
    line-height: 26px;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}


/* feature */

.feature-section {
    margin-top: 10.5625rem;
    margin-bottom: 175px;
    background-color: #e8f48c;
    height: auto;
}

.feature {
    padding-top: 3.125rem;
    margin-left: 15.625rem;
    margin-right: 9.375rem;

    display: flex;
    justify-content: center;
}

.feature-left>h1 {
    margin-top: 3.125rem;
    border-left: 5px solid #FF900E;
    padding-left: 1.3125rem;
    width: 29.25rem;
    color: #131313;
    font-size: 2.8125rem;
    font-weight: 700;
}

.feature-left>p {
    width: 25rem;
    color: black;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.625rem;
    margin-top: 1.25rem;
    margin-bottom: 1.875rem;

}

.feature-left>.card {
    width: 25rem;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    margin-bottom: 20px;
    padding: 1.875rem 42px 1.875rem 1.875rem;
}

.feature-left>.card>h4 {
    color: #131313;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.feature-left>.card>p {
    color: #727272;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.25rem;
}

.feature-right {
    padding-top: 1.25rem;
}

.feature-right>img {
    width: 100vh;
    height: 90%;
    margin-left: 3.75rem;
}

.feature-right-img-block {
    background-color: #FF900E;
    width: max-content;
    height: max-content;
    padding: 1.875rem;
    border-radius: 5px;
    position: relative;
    margin-top: -4.6875rem;
}

.feature-right-img-block>h3 {
    color: #FFF;
    font-size: 2.5rem;
    font-weight: 700;
}

.feature-right-img-block>p {
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 500;
    text-align: center;
}


/* ------------------- Footer ---------------- */